
.show-story-article
  .topics
    %h2.topics__title ITコンサルタントが着目したのは「靴」だった
    = image_tag("miri-article-image.jpg", class: "topics__image")
    %p.topics__image-description.article-text ▲創業時に意思統一の要となった事業計画書
    %p.topics__body.article-text
      私は大手コンサルティングファームにて、流通業のお客様を中心に、ITで生産性を向上させ収益力を増大させるお手伝いをしてきました。
      %br
      %br
      その中で、社会の成熟と人口の減少が同時に進む日本では、一人ひとりの嗜好に合わせて商品やサービスを選別するワン・トゥ・ワンマーケティングが広まるだろうと感じていました。
      %br
      %br
      そして、3Dデータをそのままカタチにできる3Dプリンターの技術は、「ワン・トゥ・ワンマーケティング的ものづくり」を実現する理想的な技術なのではないかと着目していたんです。
      %br
      %br
      そんな折、偶然「足には全身の骨の4分の1が集結している」と知ります。それだけ複雑な部位であれば、一人ひとりが感じる「快適」にも差異が出るはず。そこで私は、3D技術と「靴」の親和性について本気で考えはじめました。2011年頃のことです。
